body{
  background-image: linear-gradient(to right, rgb(218 0 255 / 83%), rgb(4 0 255));
  color: white;
  margin: 2rem;
}
.container{
  text-align: center;
}
.btm{
  margin: 6px ;
}
.script{
  font-size: 2rem;
  border: 1px solid white;
  background: #ffffffa3;
  color: black;
}